<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="SourcefolderPath" value="C:\Folder A" />
		<add key="TargetfolderPath" value="C:\\Folder B" />
		<add key="apiKey" value="FrguR1kDpFHaXHLQwplZ2CwTX3p8p9XHVTnukL98V5U" />
		<add key="apiToken" value="dce704ae-189e-4545-bea3-257d9249a594" />
		<add key="apiUrl" value="https://api.contifico.com/sistema/api/v1/documento/" />
		<add key="EPPlus:ExcelPackage:License" value="NonCommercialPersonal:My name" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus.Interfaces" publicKeyToken="a694d7f3b0907a61" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>